.header {
    height: 15vh;
    background-color: #4A73FF;
    position:relative;
}

.switch {
  height: 100%;
  object-fit: cover;
}

.second-line-header {
    background-color: rgb(229, 224, 224);
    height: 12vh;
}

.keshetLogo {
    float:right;
}

.personLogo {
    float:left;
}

.vertical-button {
    position: absolute; 
    top: 62%; 
    padding: 0;
    margin: 0;
    left:0;
    margin-left: 1vw;
    height: 12vh;
}

app-invoice-search {
    position: absolute; 
    top: 62%;  
    left: 4vw;
    background-color: white;
    display: inline;
    width: 43vw;
    margin-left: 1vw;
    height: 12vh;
}

app-invoices-statuses {
    position: absolute; 
    top: 62%;  
    left: 55vw; 
    width: 35vw;
    background-color: white;
    display: inline;
    margin-left: 8vw;
    height: 12vh;
}

  .left, .right {
    display: inline;
  }

.invoice-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
  }
  
  .invoice-preview-container {
    flex: 1; 
    margin-right: 1vw; 
  }
  
  .invoice-table-container {
    flex: 2; 
  }

  
  