
.invoices-statuses {
    background-image: url('/assets/invoices_statuses.jpg');
    background-size: cover; 
    // background-position: center;
    // background-repeat: no-repeat;
   
  } 

 

.invocesStatusesImg {
    height: 15vh;
    
   // margin-left: 7vw;
  //  margin-bottom: -5vh;
}
   