<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir="rtl">
      
  <ng-container matColumnDef="invoiceStatus">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let invoice">
      <img *ngIf="invoice.invoiceStatus === 1" src="assets/waiting.jpg" alt="Waiting" />
      <img *ngIf="invoice.invoiceStatus === 2" src="assets/in_process.jpg" alt="In Process" />
      <img *ngIf="invoice.invoiceStatus === 3" src="assets/rejected.jpg" alt="Rejected" />
    </td>
  </ng-container>

    <ng-container matColumnDef="invoiceName">
      <th mat-header-cell *matHeaderCellDef> תיאור תעודה </th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.invoiceName}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierName">
      <th mat-header-cell *matHeaderCellDef> ספק </th>
      <td mat-cell *matCellDef="let invoice"> {{invoice.supplierName}} </td>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef> עלות </th>
      <td mat-cell *matCellDef="let invoice">{{invoice.totalAmount}} ש"ח  </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.selected]="selectedRow === row"
        (click)="onRowSelected(row)"></tr>
  </table>
