.dateToggle {
  position: absolute;
}

.selectedDate {
  height: 4vh;
  border-radius: 15px;
  width: 15vw;
  padding-right: 3vw;
}

.datepickerDiv {
  float:right;
  margin-right: 2vw;
  margin-top: 3vh;
}

.searchPanel {
  margin-bottom: 2vh;
}

.invoiceNameLabel {
  margin-right: 2vw;
}

.searchButton {
  padding-top: 1vh;
  margin-right: 1vw;
  border:0;
    
}

.searchField {
  margin-top: 3vh;
  border-radius: 15px;
  height: 5vh;
  width: 17vw;
  font-size: 1rem;
  font-weight: bold;
}

.searchTextDiv {
  display: inline;
}


.mat-datepicker-toggle {
  margin-left: -2.18vw;
}

  
  
  