
.searchButton {
  padding-top: 1vh;
 // margin-top: 2vh;
}

.searchPanel {
  margin-left: 5vw;
  margin-bottom: 2vh;
}
.invoiceNameLabel {
  margin-right: 2vw;
}

.dateLabel {
  margin-left: 2vw;
  margin-right: 2vw;
}

.searchField {
  margin-right: 1vw;
  border-radius: 5px;
  height: 5vh;
  //border-color: lightgray;
}



.selectedDate {
  height: 4vh;
  border-radius: 5px;
}

// .date-picker-field .selectedDate {
//   // padding-top: 10px;
//   // padding-right: 50px; /* Make space for the date picker icon inside the input */
// }
// .date-picker-field {
//   height: 4vh;
// }



mat-form-field {
  padding: 0px!important;
  height: 4vh;
}

.mat-datepicker-toggle {
  margin-left: -42px; /* Adjust this value if needed to ensure proper placement */
}

  
  
  